# Thi file is used to ignore files and directories in the repository.
# It is used by Git to determine which files and directories to ignore.
# Files and directories listed here will not be tracked by Git.
.env.secret
